extends ../layout/common
block content
block foot
       
    h1 List-user-of-you <br>
        a(href="/users/create") New-user <br>
        a(href="/user/remove") Remove-user
        form(action="/users/search" , method ="GET", class="form-control", class="d-flex" )
            input(type="text" ,name = "q",id="searchItem" ,value = question)
            button(class="btn btn-primary ml-2") Search
                script.
                    var searchInput = document.getElementById('searchItem');
                        searchInput.value = sessionStorage.getItem('draft');
                        searchInput.addEventListener('change', function(){
                            sessionStorage.setItem('draft', searchInput.value);
                        });

        ul  
            each user in users
                li  
                span= user.name
                span &nbsp; 
                a(href='/users/' + user.id) View
        <br>
